body{
    background-color: black;
}.green{
    color: greenyellow;
}
a{
    text-decoration: none;
    border-bottom: none;
    color:white;
}p{
    color: white;
}.kutu{
    text-align: center;
}